@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink("Home","Index","Home")</li>
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    </ul>
}
